/******字體*****/
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

/**** loginForm****/
.login {
	margin-left: 15cm;
	font-size: 20px;
	color: #8e8e8e;
	font-family: 'cwTeXYen', sans-serif;

}

.View {
	
	float: left;
	width: 300px;
	height: 400px;
	margin-top: 100px;
	margin-left: 20px;
	font-family: 'cwTeXYen', sans-serif;
	font-size: 25px;
/* 	border-style:solid; */
/* 	border-width:3px; */
/* 	border-color:#CCDDFF; */
/* 	border-radius:25px; */
	color: black;
	
}
.View>p{
	margin-left:25px;	
}

.View>legend{
	margin:20px;	
}
.View>.cho>p{
	margin-left:25px;	
}
.View>.cho>legend{
	margin:20px;	
}

.View>.cho{
	background: #CCDDFF;
	border-style:solid;
	border-width:3px;
	border-color:#CCDDFF;
	border-radius:10px;
	
}

input[type="password"] {
	padding: 5px 15px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	font-family: 'cwTeXYen', sans-serif;
	background: #d1e9e9;
	border-style: dashed;
	border-width: 3px;
	border-color: #b3d9d9;
	outline: none;
	width: 8cm;
	height: 20px
}

.password {
	padding: 5px 15px;
	border: 2px black solid;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	font-family: 'cwTeXYen', sans-serif;
	background: #d1e9e9;
	border-style: dashed;
	border-width: 3px;
	border-color: #b3d9d9;
	outline: none;
	width: 8cm;
	height: 20px
}

input[type="text"] {
	padding: 5px 15px;
	border: 2px black solid;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	font-family: 'cwTeXYen', sans-serif;
	background: #d1e9e9;
	border-style: dashed;
	border-width: 3px;
	border-color: #b3d9d9;
	outline: none;
	width: 8cm;
	height: 20px
}

.button {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	font-size: 20px;
	border-radius: 10px;
	font-family: 'cwTeXYen', sans-serif;
	outline: none;
	background-color: #e0e0e0;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
	font-size: 20px;
	border-radius: 10px;
	outline: none;
	background-color: #e0e0e0;
}

fieldset {
	width: 500px;
	margin: 15px;
}

legend {
	font-size: 30px;
	font-family: 'cwTeXYen', sans-serif;
	border-style: none;
	border-width: none;
	margin: 10px
}