.code {
	font-family: 'cwTeXYen';
	color: 	#ea7500;
}

.text {
	font-family: 'cwTeXYen';
	color: black;
	font-size: 22px
}

.entercode {
	margin: 25px
}

.glyphicon:hover {cursor:pointer;}


