<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config></context:annotation-config>
	<context:component-scan
		base-package="controller"></context:component-scan>

	<bean id="fostercare.errors"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/fostercarecommission.jsp"></property>
	</bean>

	<bean id="fostercare.select"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/display.jsp"></property>
	</bean>





<!-- 	<bean id="login.error" -->
<!-- 		class="org.springframework.web.servlet.view.InternalResourceView"> -->
<!-- 		<property name="url" value="/secure/login.jsp"></property> -->
<!-- 	</bean> -->

<!-- 	<bean id="product.ok" -->
<!-- 		class="org.springframework.web.servlet.view.InternalResourceView"> -->
<!-- 		<property name="url" value="/pages/product.jsp"></property> -->
<!-- 	</bean> -->



<!-- 	<bean id="login.ok" -->
<!-- 		class="org.springframework.web.servlet.view.RedirectView"> -->
<!-- 		<property name="contextRelative" value="true"></property> -->
<!-- 		<property name="url" value="/index.jsp"></property> -->
<!-- 	</bean> -->

<!-- 	<bean id="product.error" -->
<!-- 		class="org.springframework.web.servlet.view.InternalResourceView"> -->
<!-- 		<property name="url" value="/pages/product.jsp"></property> -->
<!-- 	</bean> -->

<!-- 	<bean id="product.display" -->
<!-- 		class="org.springframework.web.servlet.view.InternalResourceView"> -->
<!-- 		<property name="url" value="/pages/display.jsp"></property> -->
<!-- 	</bean> -->
 

</beans>
