<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config></context:annotation-config>
	<context:component-scan
		base-package="controller"></context:component-scan>
		

	<bean id="fostercare.errors"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/fostercare.jsp"></property>
	</bean>


	<bean id="fostercarecommission.select"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url"
			value="/pages/fostercarecommissiondisplay.jsp"></property>
	</bean>

	<bean id="fostercarecommission"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/fostercarecommission.jsp"></property>
	</bean>



	<bean id="fostercareform.errors"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/fostercareform.jsp"></property>
	</bean>


	

	<bean id="hospital.select"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/hospitaldisplay.jsp"></property>
	</bean>
	<bean id="index"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/index.jsp" />
	</bean>
	<bean id="hospital"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/hospitaltest.jsp" />
	</bean>
<!-- 	<bean id="member" -->
<!-- 		class="org.springframework.web.servlet.view.InternalResourceView"> -->
<!-- 		<property name="url" value="/member/member.jsp" /> -->
<!-- 	</bean> -->
	
	
	<bean id="member"
	class="org.springframework.web.servlet.view.RedirectView">
	<property name="contextRelative" value="true"></property>
	<property name="url" value="/member/member.jsp" />
	</bean>
	
	

	<bean id="activityCommission.errors"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/activityCommission.jsp"></property>
	</bean>
	
	<bean id="activityForm.errors"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/activityform.jsp"></property>
	</bean>
	
	<bean id="activityCommission"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/activityCommission.jsp"></property>
	</bean>
	
	
	<bean id="activityCommission.select"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url"
			value="/pages/activityCommissiondisplay.jsp"></property>
	</bean>
	
	<bean id="businessInformation.errors"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/businessInformation.jsp"></property>
	</bean>

	<bean id="businessInformation.select"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url"
			value="/pages/businessInformationdisplay.jsp"></property>
	</bean>
	
	<bean id="businessInformation"
	class="org.springframework.web.servlet.view.RedirectView">
	<property name="contextRelative" value="true"></property>
     <property name="url" value="/StoreMap.jsp" />
	</bean>
	
	
	<bean id="dogItem"
		class="org.springframework.web.servlet.view.InternalResourceView">
        <property value="/dogItem.jsp" name="url"/>
    </bean>
	<bean id="dogItemUpdate"
		class="org.springframework.web.servlet.view.InternalResourceView">
        <property value="updatedogItem.jsp" name="url"/>
    </bean>
    <bean id="fosterCommission"
    	class="org.springframework.web.servlet.view.InternalResourceView">
		<property value="/foster.jsp" name="url"/>
	</bean>
    <bean id="findPetId"
    	class="org.springframework.web.servlet.view.InternalResourceView">
		<property value="/foster.jsp" name="url"/>
	</bean>
    <bean id="fosterdetial"
    	class="org.springframework.web.servlet.view.InternalResourceView">
		<property value="/fosterdetial.jsp" name="url"/>
	</bean>
	<bean id="hospital.errors"
	class="org.springframework.web.servlet.view.RedirectView">
	<property name="contextRelative" value="true"></property>
	<property name="url" value="/hospitaltest.jsp" />
	</bean>
	

		<bean id="message"
	class="org.springframework.web.servlet.view.RedirectView">
	<property name="contextRelative" value="true"></property>
	<property name="url" value="/member/membermessage.jsp" />
	</bean>
	
	
	
		<bean id="message.selcet"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/member/membermessage.jsp"></property>
	</bean>
	

	<bean id="fostercaresearch"
    	class="org.springframework.web.servlet.view.InternalResourceView">
		<property value="/fostercarecommission" name="url"/>
	</bean>
	
	<bean id="fostercareform"
    	class="org.springframework.web.servlet.view.InternalResourceView">
		<property value="/pages/testfff.jsp" name="url"/>
	</bean>

	

<!-- 	<bean id="businessInformation.errors" -->
<!-- 		class="org.springframework.web.servlet.view.InternalResourceView"> -->
<!-- 		<property name="url" value="/pages/businessInformation.jsp"></property> -->
<!-- 	</bean> -->

<!-- 	<bean id="businessInformation.select" -->
<!-- 		class="org.springframework.web.servlet.view.InternalResourceView"> -->
<!-- 		<property name="url" -->
<!-- 			value="/pages/businessInformationdisplay.jsp"></property> -->
<!-- 	</bean> -->



	<!-- <bean id="login.error" -->
	<!-- class="org.springframework.web.servlet.view.InternalResourceView"> -->
	<!-- <property name="url" value="/secure/login.jsp"></property> -->
	<!-- </bean> -->

	<!-- <bean id="product.ok" -->
	<!-- class="org.springframework.web.servlet.view.InternalResourceView"> -->
	<!-- <property name="url" value="/pages/product.jsp"></property> -->
	<!-- </bean> -->



	<!-- <bean id="login.ok" -->
	<!-- class="org.springframework.web.servlet.view.RedirectView"> -->
	<!-- <property name="contextRelative" value="true"></property> -->
	<!-- <property name="url" value="/index.jsp"></property> -->
	<!-- </bean> -->

	<!-- <bean id="product.error" -->
	<!-- class="org.springframework.web.servlet.view.InternalResourceView"> -->
	<!-- <property name="url" value="/pages/product.jsp"></property> -->
	<!-- </bean> -->

	<!-- <bean id="product.display" -->
	<!-- class="org.springframework.web.servlet.view.InternalResourceView"> -->
	<!-- <property name="url" value="/pages/display.jsp"></property> -->
	<!-- </bean> -->


</beans>
