@charset "UTF-8";
/* Create with Compass + SCSS on windows */
/* ... ENRF 豐田生技 全國 ... */
.hiddenItem {
  font-size: 1px;
  line-height: 0;
  text-indent: 0;
  visibility: hidden;
}

.hideItem {
  display: none;
}

.clearFloat {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
  height: 0;
}

.main > .wrapper {
  background: none;
}
.main .master:before {
  display: none;
}
.main .master {
  display: block;
  text-align: left;
}

.main h2 {
  margin-bottom: 50px;
}
.main h2 span {
  /*專案特別調整,所有輸出字級降20%*/
  /*內頁主要內容小標題,標準尺寸*/
  font-size: 153.4%;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.main h2.iconed {
  text-align: right;
  margin-left:94%;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../../../Images/enrf/App/frame_query.gif");
  
}
.main h2.iconed span {
  /*專案特別調整,所有輸出字級降20%*/
  /*名詞解釋標題,標準尺寸*/
  font-size: 122.8%;
}
.main ul.query {
  display: block;
  width: 100%;
}
.main ul.query li {
  display: inline-block;
  width: calc((100% - 350px - 50px - 600px)/3);
}
.main ul.query li label {
  display: inline-block;
  width: 100%;
}
.main ul.query li span {
  /*專案特別調整,所有輸出字級降20%*/
  /*網站選單,標準尺寸*/
  font-size: 102.4%;
  font-weight: bold;
}
.main ul.query li.variety span,
.main ul.query li.place span {
  display: inline-block;
}
.main ul.query li.variety select,
.main ul.query li.place select {
  /*專案特別調整,所有輸出字級降20%*/
  /*網站選單,標準尺寸*/
  font-size: 70%;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
/*   -webkit-appearance: menu; */
  /* Safari and Chrome */
  border: #e5e5e5 solid 1px;
  background: #f4f4f4;
  padding: 15px;
  padding-right: 460px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-image: url("../../../Images/enrf/App/frame_select_arrow.png");
  background-image: none\9\0;
  /*IE 9*/
}
.main ul.query li.variety select::-ms-expand,
.main ul.query li.place select::-ms-expand {
  display: none;
  /* remove default arrow on ie10 and ie11 */
}
.main ul.query li.variety select:disabled,
.main ul.query li.place select:disabled {
  background-color: #ccc;
  color: #fff;
}
.main ul.query li.variety {
  width: 350px;
  margin-right: 30px;
}
.main ul.query li.place {
  width: 600px;
}
.main ul.query li.inLeft,
.main ul.query li.inRight {
  margin-top: 40px;
  width: 47%;
  border-bottom: #000 solid 1px;
}
.main ul.query li.inline{
  margin-top: 40px;
  width: 100%;
  border-bottom: #000 solid 1px;
}

.main ul.query li.inLeft span,
.main ul.query li.inline span,
.main ul.query li.inRight span {
  /*專案特別調整,所有輸出字級降20%*/
  /*內文,小標題*/
  font-size: 92.2%;
  display: block;
}
.main ul.query li.inLeft input,
.main ul.query li.inline input,
.main ul.query li.inRight input {
  /*專案特別調整,所有輸出字級降20%*/
  /*名詞解釋標題,標準尺寸*/
  font-size: 122.8%;
  width: 100%;
  line-height: 65px;
  color: #000;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.main ul.query li.inLeft {
  float: left;
}
.main ul.query li.inRight {
  float: right;
}
.main ul.query li.inline {
  float: right;
}
.main div.queryOption {
  text-align: right;
  margin-top: 30px;
}
.main div.queryOption button {
  /*專案特別調整,所有輸出字級降20%*/
  /*名詞解釋標題,標準尺寸*/
  font-size: 122.8%;
  /* 從IE9 開始支援 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 3em;
  height: 2.5em;
  margin-left: 20px;
  cursor: pointer;
  background-color: #009e96;
}
.main div.queryOption button span {
  color: #fff;
}
.main div.queryOption button:hover,
.main div.queryOption button:active {
  background-color: #dcdcdc;
}
.main div.queryOption button:hover span,
.main div.queryOption button:active span {
  color: #009e96;
}
.main ul.list {
  margin-right: -30px;
}
.main ul.list br.break-2,
.main ul.list br.break-3 {
  display: none;
}
.main ul.list br.break-5 {
  display: block;
}
.main ul.list li {
  padding: 5px;
  background-color: #f4f4f4;
  float: left;
  position: relative;
  width: calc((100% - 210px) / 5);
  margin-right: 20px;
  margin-bottom: 30px;
  border-top: none;
  border-left: #f4f4f4 solid 5px;
  border-right: #f4f4f4 solid 5px;
  border-bottom: #ffd402 solid 5px;
}
.main ul.list li:hover {
  border-left: #ffd402 solid 5px;
  border-right: #ffd402 solid 5px;
}
.main ul.list li:nth-child(5n) {
  /*margin-right: 0;*/
}
.main ul.list li h4 {
  margin: 0 -10px;
  margin-top: -10px;
  margin-bottom: 10px;
  height: 35px;
  text-align: center;
  background-color: #ffd402;
}
.main ul.list li h4 span {
  /*專案特別調整,所有輸出字級降20%*/
  /*內文,小標題*/
  font-size: 92.2%;
  line-height: 35px;
}
.main ul.list li a {
  color: #313131;
  text-decoration: none;
}
.main ul.list li a:hover dt,
.main ul.list li a:hover dd {
  text-decoration: underline;
}
.main ul.list li dl dt,
.main ul.list li dl dd {
  /*專案特別調整,所有輸出字級降20%*/
  /*網站選單,標準尺寸*/
  font-size: 102.4%;
  float: left;
  line-height: 1.33;
  min-height: 1.5em;
  margin-bottom: 10px;
  color: #313131;
}
.main ul.list li dl dt:before {
  /*專案特別調整,所有輸出字級降20%*/
  /*內頁主要內容小標題,標準尺寸*/
  font-size: 153.4%;
  content: '．';
  font-weight: bold;
  position: absolute;
  top: -13px;
  left: 0;
  color: #ffd402;
}
.main ul.list li dl dt {
  position: relative;
  padding-left: 22px;
}
.main ul.list li dl dd {
  width: calc(100% - 4em - 22px);
  white-space: pre-wrap;
}
.main ul.list li figure {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  position: relative;
  width: auto;
  height: 130px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}
.main ul.list li figure a {
  display: block;
  height: inherit;
}
.main ul.list li figure img {
  width: auto;
  height: 100%;
  max-width:100%;
  max-height: 100%;
}